// color btns
.btn-color {
    width: 100%;
    height: 60px;
    border: none;

    &:hover {
        cursor: pointer;
        border: 3px solid #7e7e7e;
    }
}

// feature btns
.btn-option {
    width: 100%;
    height: 50px;
    border: 1px solid #000000;
    letter-spacing: 0.01rem;
    transition: background-color 250ms;

    &:hover {
        cursor: pointer;
        background-color: rgb(224, 224, 224);
    }
}

.btn-active {
    border: 3px solid #7e7e7e;
}