* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

@import "aside";

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
}

main {
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.container {
    width: 95vw;
    height: 100vh;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(50, 1fr);
    grid-template-rows: repeat(30, 1fr);
}


// mode classes
.fade {
    transition: background-color 1000ms 250ms;
}

.rotate {
    transition: transform 1000ms;
    transform: rotate(360deg);
}